@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
    padding: 0;
}

.titulo{
    font-family: "Archivo Black";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2vw;
}

.Frame{
    display: grid;
    grid-template-columns: 7;
    grid-template-areas: 
    'a a a b b b b'
    ;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.Image-section{
    grid-area:a;
    background-color: black;
    height: 100vh;
}

.Image-section img{
    display: grid;
    width: 100%;
    height: 100%;
}

.Login-section{
    grid-area: b;
    display: grid;
    place-content: center;
    gap: 1em;
    height: 100vh;
}

.Inicio{
    display: flex;
    flex-direction: column;
    gap: 4em;
    height: 100%;
    width: 500px;
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: -5em;
}

.Logo article{
    display: flex;
    width: 11vw;
    height: 11vw;
}

.Logo img{
    width: 100%;
    height: 100%;
}

.formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width:100%;
    height: auto;
    gap: 1em;
}

.email, .contraseña{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#eAdd, #pass, input::placeholder{
    text-indent: 1em;
    font-size: 1.1em;
}

#pass,#eAdd{
    display: flex;
    align-items: start;
    border: 1px solid grey;
    border-radius: 5px;
    height: 60px;
    width: 100%;
}

#pass:hover,#eAdd:hover{
    border: 1px solid blue;
}

.labelTerminos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.2em;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
}

.btn-two{
    font-size: 15px;
    font-weight: 600;
}

#btnLogin{
    width: 80%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #17A2B8;
}

#btnContraseña{
    width: 39%;
    height: 200%;
    border: none;
    outline: none;
    font-weight: 550;
    color: white;
    background-color: #17A2B8;
}

#btnContacto{
    width: 39%;
    height: 200%;
    border: 1px solid gray;
    outline: none;
    font-weight: 550;
    color: gray;
    background-color: #efefef;

}

.lineas{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.line{
    display: flex;
    justify-content: space-around;
    width: 46%;
    height: 1px;
    background-color: rgb(138, 138, 138);
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 1em;
    gap: 1.2em;
    
}

